@media screen and (max-width: 550px) {
  .nav, .navbar {
    width: 90% !important;

    .nav-item {
      font-size: 10px !important;
    }
  }
}

@media screen and (max-width: 350px) {
  .navbar-container {
    height: 120px !important;
  }

  .nav, .navbar {
    flex-wrap: wrap !important;

    .nav-item {
      margin: 5px 5px !important;
    }
  }
}

.nav-link {
  color: black;
}

.navbar-container {
  position: fixed;
  top: 0;
  left: 50%;
  margin-right: 50%;
  transform: translateX(-50%);
  width: 100%;
  height: 70px;
  //background: linear-gradient(to bottom, rgba(255,255,255,1) 50%,rgba(255,255,255,0) 100%);
}

.nav, .navbar {
  width: 600px;
  margin: auto;
  height: 100%;
  font-size: 16px;
  font-weight: 400;
  letter-spacing: 2px;
  list-style: none;
  display: -webkit-flex;
  display: flex;
  -webkit-justify-content: space-between;
  justify-content: space-between;
  flex-wrap: nowrap;

  .nav-link {
    color: black;
    text-decoration: none;
  }

  .nav-item {
    padding: 5px 0;
  }
}

.nav-item {
  display: inline-block;
  position: relative;
  //padding-bottom: 2px;
  transition: color .35s ease;

  .nav-link {
    &:before {
      content: '';
      display:block;
      position: absolute;
      left: 0;
      bottom: 0;
      height: 2px;
      width: 0;
      transition: width 0s ease, background .35s ease;
    }
    &:after {
      content: '';
      display: block;
      position: absolute;
      right: 0;
      bottom: 0;
      height: 2px;
      width: 0;
      background: black;
      transition: width .35s ease;
    }
    &:hover:before {
      width: 100%;
      background: black;
      transition: width .35s ease;
    }
    &:hover:after {
      width: 100%;
      background: transparent;
      transition: all 0s ease;
    }
  }
}
