<div class="resume">
  <div class="content">
    <div class="work">
      <h3>Work Experience</h3>
      <ul>
        <li><span>Job Title 1</span><small>Company Name 1</small><small>Start - Now</small></li>
        <li><span>Job Title 2</span><small>Company Name 2</small><small>Start - End</small></li>
        <li><span>Job Title 3</span><small>Company Name 3</small><small>Start - End</small></li>
      </ul>
    </div>

    <div class="edu">
      <h3><i class="fa fa-graduation-cap"></i>Education</h3>
      <ul>
        <li><span>Department of Information Management</span><small>Set 2010 - Jun 2014</small></li>
        <li><span>Department of Data Processing</span><small>Set 2007 - Jun 2010</small></li>
      </ul>
    </div>

    <div class="break"></div> <!-- break -->

    <ul class="skills-container">
      <li>
        <div class="skillbar-container">
          <h2 class="bar-title">Angular</h2>
          <div class="progress" style="height: 20px; width: 50%">
            <div class="progress-bar"
                 role="progressbar"
                 style="width: 25%;"
                 aria-valuenow="25"
                 aria-valuemin="0"
                 aria-valuemax="100">
              25%
            </div>
          </div>
        </div>
      </li>

      <li>
        <div class="skillbar-container">
          <h2 class="bar-title">Ruby</h2>
          <div class="progress" style="height: 20px; width: 50%">
            <div class="progress-bar"
                 role="progressbar"
                 style="width: 25%;"
                 aria-valuenow="25"
                 aria-valuemin="0"
                 aria-valuemax="100">
              25%
            </div>
          </div>
        </div>
      </li>

      <li>
        <div class="skillbar-container">
          <h2 class="bar-title">Java</h2>
          <div class="progress" style="height: 20px; width: 50%">
            <div class="progress-bar"
                 role="progressbar"
                 style="width: 25%;"
                 aria-valuenow="25"
                 aria-valuemin="0"
                 aria-valuemax="100">
              25%
            </div>
          </div>
        </div>
      </li>
    </ul>
  </div>
</div>
